* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top-cart {
    height: 400px;
    background-image: url(../img/topcart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 64px;

    &__name-box {
        width: 756px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        font-size: 16px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item2 {
        border-top: 0.5px solid #CACDD8;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    

    &__info-name {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        display: flex;
        flex-direction: column;
        gap: 14px;

    }

    &__info-title {
        width: 276px;
        margin-top: 10px;
        margin-bottom: 12px;
        line-height: 17px;
        color: #888888;
    }

    &__info-price {
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        color: #050505;
        display: flex;
        gap: 32px;
        padding-bottom: 15px;
    }

    &__left {
        display: flex;
        text-decoration: column;
        gap: 32px;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &__form-title {
        font-weight: 700;
        font-size: 24px;
        padding-top: 42px;
        padding-bottom: 35px;
        text-align: center;
    }

    &__form-anketa {
        height: 143px;
        font: inherit;
        width: 288px;
        margin-left: 27px;
    }

    &__form-name {
        display: flex;
        flex-direction: column;
        background: #F7F6F6;
        border: none;
        width: 288px;
        border-bottom: 1px solid #CACDD8;
        margin-bottom: 44px;
    }

    &__form-cena {
        margin-top: 64px;
        padding-bottom: 18px;
        font-size: 24px;
        text-align: center;
    }

    &__form-sakas {
        color: #000;
        padding-top: 10px;
        padding-bottom: 11px;
        display: block;
        padding-left: 76px;
        font-size: 16px;
        border: 1px solid #000000;
        border-radius: 20px;
        width: 290px;
        height: 41px;
        margin-left: 45px;

        &:hover {
            cursor: pointer;
            background-color: #000;
            color: #FFFFFF;
        }
    }

    &__content {
        grid-column: span 8;
    }

    &__link-box {
        display: flex;
        gap: 30px;
        color: #000;
        text-decoration: underline;
    }

    &__link-box1 {
        color: #000;
        text-decoration: underline;
    }

    &__vibor {
        border: none;
        font-weight: 600;
        background-color: #F7F6F6;
        width: 71px;
        height: 51px;
        padding-left: 26px;
        border-radius: 6px;
    }
}

.select {
    font-weight: 500;
}

.nav-box {
    padding-top: 0;
}

.product-box_cart {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}

.product__icons_cart {
    position: absolute;
    padding-top: 10px;
    left: 466px;
}


.products__title_spec {
    margin-top: 32px;
}

.button {
    border: #000;
    font-family: "Montserrat", sans-serif;
    margin-top: 18px;
    display: flex;
    gap: 7px;

    &__filter {
        font-family: "Montserrat", sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 33px;
        padding-right: 33px;
        border: 1px solid #000000;
        border-radius: 50px;
        width: 200px;
        height: 37px;
        background-color: white;

        &:hover {
            cursor: pointer;
            background-color: #000;
            color: #FFFFFF;
        }
    }


    &__cont {
        font-family: "Montserrat", sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #000000;
        border-radius: 50px;
        width: 200px;
        height: 37px;
        color: #000;

        &:hover {
            cursor: pointer;
            background-color: #000;
            color: #FFFFFF;
        }
    }
}