@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;
        border-bottom: aliceblue;

        &__input {
            display: none;
        }

        &__select {
            display: none;
        }
    }

    .menu {
        &__link_info {
            display: none;
        }

        &-mob {
            display: block;
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .logo {
        &__img {
            width: 99px;
        }
    }

    .top__title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .catalog-nav__link {
        font-size: 14px;
    }

    .inputs {
        &__filter {
            font-size: 14px;
            line-height: 17px;
            width: 164px;
            height: 41px;
        }
    }

    .filter__hit {
        font-size: 14px;
        line-height: 17px;
        width: 203px;
        height: 41px;
    }

    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__text {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }

    .catalog {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-top: 0;
    }

    .catalog-nav {
        width: 343px;
        row-gap: 14px;
        flex-wrap: wrap;

        &__inputs {
            flex-wrap: wrap-reverse;
            row-gap: 10px;
        }
    }

    .heading {
        font-size: 24px;
        line-height: 30px;
    }

    .box__price {
        margin-top: 0;
    }

    .title-product {
        font-size: 18px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);


        &__item {
            grid-column: 1 / -1;
            height: 375px;
            font-size: 24px;
            line-height: 34px;
        }

        &_big {
            height: 244px;
        }
    }

    .for-box {
        padding-top: 32px;
    }

    .products__title {
        font-size: 24px;
        line-height: 29px;
        margin-top: 32px;

        &_mob {
            margin-top: 37px;
        }

        &__img {
            width: 342px;
            height: 349px;
        }

        &_cart {
            margin-top: 48px;
        }
    }

    .cart {
        column-gap: 0;

        &__item {
            width: 343px;
            column-gap: 0;
        }

        &__info {
            &-name {
                font-size: 18px;
                line-height: 22px;
            }

            &-title {
                font-size: 14px;
                line-height: 18px;
                width: 253px;
            }

            &-price {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }


    .cart__name-box {
        display: none;
    }

    .cart__form {
        width: 343px;

        &-sakas {
            margin-left: 26px;
        }

        &-name {
            padding-left: 0;
        }
    }

    .cart__img {
        display: none;
    }

    .button__filter,
    .button__cont {
        font-size: 12px;
        line-height: 14px;
        width: 166px;
        padding: 0;
    }

    .container-bottom__button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button__cont {
        text-align: center;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .button__mob {
        padding-bottom: 48px;
    }

    .product {
        font-size: 18px;
        line-height: 22px;

        &__name {
            font-size: 14px;
            line-height: 17px;
            width: 343px;
        }

        &__price {
            font-size: 18px;
            line-height: 22px;
        }

        &__asort {
            display: flex;
            width: 343px;
            align-items: flex-start;
            flex-wrap: wrap;
            row-gap: 36px;
        }
    }

    .product__icons {
        left: 285px;
    }

    .product__icons_cart {
        left: 289px;
    }

    .product-box {
        display: flex;
        padding-top: 32px;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;

        &_cart {
            padding-top: 0;
            padding-left: 0;
            width: 343px;
        }
    }

    product-menu {
        row-gap: 35px;
    }


    .filtering-box {
        position: absolute;
        width: 287px;
        height: 910px;
        top: 568px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 40px 48px;
        gap: 10px;
        left: 16px;
        justify-content: flex-start;
    }

    .filtering-container {
        width: 287px;
    }

    .filtering-container__top {
        width: 286px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 32px;
    }

    .container-top__right {
        flex-direction: column;
        display: flex;
    }

    .filtering-container__bottom {
        flex-direction: column;
        display: flex;
        padding-top: 32px;
        width: 287px;
    }

    .nav-box {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 32px;
        // padding-top: 37px;
    }

    .catalog__navigation_mob {
        display: block;
        padding-top: 36px;
    }

    .nav-box_navigation_mobi {
        display: block;
        padding-top: 32px;
    }

    .catalog__navigation_mobi {
        display: block;
        padding-top: 0;
    }

    .footer {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 34px;
        }

        &__box_mega {
            display: flex;
            padding-top: 32px;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 70px;
        }

    }
}