@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for {
        &__item {
            height: 268px;
        }

        .for__item:hover {
            font-weight: bold;
        }
    }


    .product__asort {
        width: 745px;
        column-gap: 29px;
        row-gap: 38px;
    }

    .product-box {
        column-gap: 29px;
        row-gap: 38px;
    }

    .product-box_cart {
        width: 768px;
        gap: 29px;
    }

    .product-menu {
        column-gap: 29px;
        row-gap: 38px;
    }


    .product__icons {
        left: 300px;
    }

    .product__icons_cart {
        left: 300px;
    }


    .catalog-nav {
        padding: 0;
        width: 733px;
        display: block;
        display: flex;
        justify-content: space-between;
    }

    .filtering-box {
        right: 24px;
    }

    .cart__item {
        width: 768px;
        column-gap: 29px;
    }

    .cart__name-box {
        width: 768px;
    }

    .cart__form {
        grid-column: span 5;
        width: 376px;
    }

    .button__cont {
        background: #000000;
        color: #FFFFFF;
    }

    .button {
        margin-top: 0;
    }

    .footer__box_mega {
        gap: 179px;
    }

    .logo__old {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product {
        width: 345px;
    }

    .products__title_cart {
        width: 777px;
    }

    .product-box {
        width: 765px;
    }

    .product-box_cart {
        gap: 29px;
    }

    .footer__box_mega {
        gap: 145px;
    }
}