* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(../img/toplogo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_cat {
  height: 400px;
  background-image: url(../img/logokat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__text {
  font-size: 24px;
  margin-bottom: 16px;
  color: #FFFFFF;
  padding-top: 16px;
}

.header {
  height: 77px;
  display: flex;
  border-bottom: 0.5px solid #FFFFFF;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__input {
  width: 288px;
  height: 41px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}

.header__select {
  width: 288px;
  height: 41px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.header__input:focus::-moz-placeholder {
  color: transparent;
}

.header__input:focus::placeholder {
  color: transparent;
}

.top__title {
  margin-top: 64px;
  max-width: 792px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #FFFFFF;
}

.subtitle {
  padding-top: 126px;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #FFFFFF;
}

.catalog {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.catalog:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  transition: fill 1s;
}

.menu__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}

.menu-mob {
  display: none;
}

.menu__link_old {
  color: #888888;
  list-style-type: none;
}

.menu__link_info {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.inputs__filter {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  width: 182px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
}

.filter:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 87% 52%;
}

.filter__hit {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  width: 227px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter__hit:hover {
  outline: none;
  cursor: pointer;
}

.filter__hit:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 90% 52%;
}

.products__title {
  font-weight: 600;
  font-size: 48px;
  margin-top: 64px;
  margin-bottom: 32px;
}
.products__title .products__title::before {
  padding-top: 0;
}

.products__catalog {
  font-size: 16px;
}

.heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: #000000;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for-box {
  padding-top: 64px;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-size: 34px;
  line-height: 41px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item:hover {
  font-weight: bold;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(../img/for1.jpg);
}

.for__item_2 {
  background-image: url(../img/for2.jpg);
}

.for__item_3 {
  background-image: url(../img/for3.jpg);
}

.for__item_4 {
  background-image: url(../img/for4.jpg);
}

.for__item_5 {
  background-image: url(../img/for5.jpg);
}

.product {
  width: 378px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.title-product {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 10px;
}
.title-product:hover {
  font-weight: bold;
}

.product__asort {
  max-width: 1200px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 48px;
}

.product-box {
  box-sizing: border-box;
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.catalog-nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.catalog-nav__link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
}
.catalog-nav__inputs {
  display: flex;
  gap: 10px;
}

.product-menu {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 56px;
}

.product__img {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.product__icons {
  position: absolute;
  left: 2px;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.product-blok {
  margin-top: 10px;
}
.product-blok:hover {
  filter: brightness(0);
}

.product-like {
  margin-top: 10px;
}
.product-like:hover {
  filter: brightness(0);
}

.product__name {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 12px;
  line-height: 17px;
  color: #888888;
}

.product__sale {
  display: flex;
  gap: 32px;
}

.product__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #050505;
  display: flex;
  gap: 32px;
}

.product__price_old {
  text-decoration: line-through;
  color: #888888;
}

.nav-box {
  display: block;
  padding-top: 31px;
  padding-bottom: 64px;
  text-decoration: underline;
  color: #000000;
}

.catalog__navigation {
  display: block;
  padding-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.footer {
  background-color: #F7F6F6;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 59px;
}
.footer__box_mega {
  display: flex;
  gap: 192px;
}
.footer__box {
  display: flex;
  gap: 129px;
}
.footer__menu {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu_vibor {
  font-weight: 400;
  font-size: 24px;
  flex-direction: row;
  display: flex;
  gap: 12px;
  color: #000000;
}
.footer__contacts_vibor2 {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.footer__contacts2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__contacts_phon {
  text-decoration-line: none;
  color: #888888;
  display: flex;
  gap: 12px;
}
.footer__contacts_seti {
  display: flex;
  gap: 20px;
}
.footer__icon:hover {
  cursor: pointer;
  filter: brightness(0);
}

.email {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  border-radius: 16px;
  border: 1px solid #C4C4C4;
}
.email:focus {
  outline: none;
}
.email:focus::-moz-placeholder {
  color: transparent;
}
.email:focus::placeholder {
  color: transparent;
}

.form {
  width: 260px;
  height: 40px;
  font-size: 12px;
  border-radius: 16px;
  background: rgba(222, 215, 215, 0.4117647059);
  border: 1px solid #C4C4C4;
}
.form__text {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
.form__text:hover {
  cursor: pointer;
  background-color: #000;
  color: #FFFFFF;
}

.info {
  width: 251px;
  font-size: 12px;
}
.info__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-cart {
  height: 400px;
  background-image: url(../img/topcart.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 64px;
}
.cart__name-box {
  width: 756px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  font-size: 16px;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__item2 {
  width: 768px;
  border-top: 0.5px solid #CACDD8;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__info-name {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__info-title {
  width: 276px;
  margin-top: 10px;
  margin-bottom: 12px;
  line-height: 17px;
  color: #888888;
}
.cart__info-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  color: #050505;
  display: flex;
  gap: 32px;
  padding-bottom: 15px;
}
.cart__left {
  display: flex;
  -webkit-text-decoration: column;
          text-decoration: column;
  gap: 32px;
}
.cart__form {
  margin-left: 33px;
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
}
.cart__form-title {
  font-weight: 700;
  font-size: 24px;
  padding-top: 42px;
  padding-bottom: 35px;
  text-align: center;
}
.cart__form-anketa {
  height: 143px;
  font: inherit;
  width: 288px;
  margin-left: 27px;
}
.cart__form-name {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  flex-direction: column;
  background: #F7F6F6;
  border: none;
  width: 288px;
  border-bottom: 1px solid #CACDD8;
  margin-bottom: 44px;
}
.cart__form-cena {
  margin-top: 64px;
  padding-bottom: 18px;
  font-size: 24px;
  text-align: center;
}
.cart__form-sakas {
  color: #000;
  padding-top: 10px;
  padding-bottom: 11px;
  display: block;
  padding-left: 76px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 290px;
  height: 41px;
  margin-left: 45px;
}
.cart__form-sakas:hover {
  cursor: pointer;
  background-color: #000;
  color: #FFFFFF;
}
.cart__content {
  grid-column: span 8;
}
.cart__link-box {
  display: flex;
  gap: 30px;
  color: #000;
  text-decoration: underline;
}
.cart__link-box1 {
  color: #000;
  text-decoration: underline;
}
.cart__vibor {
  border: none;
  font-weight: 600;
  background-color: #F7F6F6;
  width: 71px;
  height: 51px;
  padding-left: 26px;
  border-radius: 6px;
}

.select {
  font-weight: 500;
}

.nav-box {
  padding-top: 0;
}

.product-box_cart {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.product__icons_cart {
  position: absolute;
  padding-top: 10px;
  left: 466px;
}

.products__title_spec {
  margin-top: 32px;
}

.button {
  border: #000;
  font-family: "Montserrat", sans-serif;
  margin-top: 18px;
  display: flex;
  gap: 7px;
}
.button__filter {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  background-color: white;
}
.button__filter:hover {
  cursor: pointer;
  background-color: #000;
  color: #FFFFFF;
}
.button__cont {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  color: #000;
}
.button__cont:hover {
  cursor: pointer;
  background-color: #000;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.catalog {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.header__select {
  width: 288px;
  height: 41px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
}

.header__select::-moz-placeholder {
  color: white;
  opacity: 1;
}

.header__select::placeholder {
  color: white;
  opacity: 1;
}

.inputs__filter {
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 17px;
  box-sizing: border-box;
  width: 182px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
}

.filter:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 87% 52%;
}

.filter__hit {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  width: 227px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__hit:hover {
  outline: none;
  cursor: pointer;
}

.filter__hit:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 90% 52%;
}

.inputs__filter {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  background-color: #fff;
}

.inputs__filter:hover {
  outline: none;
  cursor: pointer;
}

.inputs__filter:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 87% 52%;
}

.filtering-box {
  position: absolute;
  right: 238px;
  top: 491px;
  width: 541.5px;
  height: 548px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
}

.filtering-container {
  width: 445.5px;
  height: 468px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.filtering-container__top {
  width: 445.5px;
  height: 392px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 65px;
       column-gap: 65px;
  row-gap: 32px;
}

.container-top__left {
  width: 190.5px;
  height: 392px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.box__delivery-time {
  width: 136px;
  height: 177px;
}

.container-top__title {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.lower-indentation_16 {
  margin-bottom: 16px;
}

.lower-indentation_14 {
  margin-bottom: 14px;
}

.box-price__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  line-height: 17px;
}

.delivery-time__container {
  width: 102px;
  height: 141px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 14px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 25px;
}

.radio__input {
  display: none;
}

input[type=radio] + label {
  cursor: pointer;
}

input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: 50px;
  width: 15px;
  height: 15px;
  border: 1px solid #888888;
  border-radius: 50%;
}

input[type=radio]:checked + .radio__label::after {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.radio__label::before {
  content: "";
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
}

.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url(../img/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.room-type__label {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  line-height: 17px;
}

.container-top__right {
  width: 190px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
}

input[type=checkbox]:checked + .room-type__label::after {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.room-type__input {
  display: none;
}

.room-type__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}

.room-type__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
}

.room-type__input:checked + .room-type__label::before {
  border-color: #000;
  background-image: url(../img/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.box__price {
  margin-top: 12px;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__cursor {
  display: flex;
  gap: 14px;
  border: 1px 0.5px solid #000;
}
.range__input {
  width: 190px;
  height: 9px;
  overflow: hidden;
  outline: none;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-runnable-track {
  z-index: 2;
}
.range__cursor {
  position: relative;
  height: 20px;
  width: 190px;
  display: inline-block;
  margin-top: -5px;
}
.range__cursor input {
  position: absolute;
}

.filtering-container__bottom {
  width: 430px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.lower-indentation_14 {
  margin-bottom: 14px;
}

.box-colour {
  width: 189px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.colour-many {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.checkbox__colour_1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.checkbox__colour {
  max-width: 189px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  width: 15px;
}

.color-many__options {
  width: 15px;
  height: 15px;
  max-width: 189px;
  height: 15px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input {
  display: none;
}
.checkbox__label_black {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__label_black:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  border-color: #000;
  background-image: url(../img/vector1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input_black:checked + .checkbox__label_black::before {
  border-color: #000;
  background-image: url(../img/whitevektor.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox__input:not([multiple]) {
  background-image: url(../img/vector1.svg);
  background-repeat: no-repeat;
  background-position: 87% 52%;
}
.checkbox__label_white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}
.checkbox__input_black {
  display: none;
}
.checkbox__label_gray::before {
  background-color: #737373;
  border-color: #808080;
}
.checkbox__label_red::before {
  background-color: #FF0000;
  border-color: #FF0000;
}
.checkbox__label_orange::before {
  background-color: #FF7A41;
  border-color: #FF7A41;
}
.checkbox__label_yellow::before {
  background-color: #F2CB01;
  border-color: #F2CB01;
}
.checkbox__label_green::before {
  background-color: #00BF2A;
  border-color: #00BF2A;
}
.checkbox__label_lightgreen::before {
  background-color: #1CCC97;
  border-color: #1CCC97;
}
.checkbox__label_blue::before {
  background-color: #009FE3;
  border-color: #009FE3;
}
.checkbox__label_darkblue::before {
  background-color: #000AF8;
  border-color: #000AF8;
}
.checkbox__label_violet::before {
  background-color: #6710D6;
  border-color: #6710D6;
}
.checkbox__label_purple::before {
  background-color: #9D0DB5;
  border-color: #9D0DB5;
}
.checkbox__label_lilac::before {
  background-color: #D89AFF;
  border-color: #D89AFF;
}
.checkbox__label_pink::before {
  background-color: #FF65A6;
  border-color: #FF65A6;
}
.checkbox__input::checked + .checkbox__label_orange::before, .checkbox__input::checked + .checkbox__label_yellow::before, .checkbox__input::checked + .checkbox__label_lilac::before {
  background-image: url(../img/vector1.svg);
}
.checkbox__input_black::checked + .checkbox__label_black::before {
  background-image: url(../img/whitevektor.webp);
}

input[type=checkbox] {
  accent-color: #fff;
}

.container-bottom__button {
  width: 190px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  background-color: #fff;
}

.container-bottom__button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.filter:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 37% 52%;
}

.filter__hit {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  width: 227px;
  height: 40px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.filter__hit__hit:hover {
  outline: none;
  cursor: pointer;
}
.filter__hit__hit:not([multiple]) {
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-position: 90% 52%;
}

.products__title__catalog {
  font-size: 16px;
}

.product {
  width: 378px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.title-product {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 10px;
}

.product__asort {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 31px;
  column-gap: 31px;
  row-gap: 48px;
}

.product-box {
  box-sizing: border-box;
  padding-top: 37px;
  display: flex;
  gap: 31px;
}

.catalog-nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.catalog-nav:hover {
  color: white;
}
.catalog-nav__link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
}
.catalog-nav__inputs {
  display: flex;
  gap: 10px;
}

.product__img {
  width: 100%;
  height: 250px;
  background-size: cover;
}
.product__img__name {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 12px;
  line-height: 17px;
  color: #888888;
}
.product__img__sale {
  display: flex;
  gap: 32px;
}
.product__img__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #050505;
  display: flex;
  gap: 32px;
}
.product__img__price_old {
  text-decoration: line-through;
  color: #888888;
}

.product__icons {
  left: 640px;
}

.nav-box_navigation {
  color: #000;
  padding-top: 32px;
  display: block;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .for .for__item:hover {
    font-weight: bold;
  }
  .product__asort {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .product-box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .product-box_cart {
    gap: 29px;
  }
  .product-menu {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .product__icons {
    left: 300px;
  }
  .product__icons_cart {
    left: 300px;
  }
  .catalog-nav {
    padding: 0;
    width: 708px;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .catalog__navigation_mobi {
    padding-top: 0;
  }
  .filtering-box {
    right: 36px;
  }
  .cart__item {
    width: 768px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .cart__name-box {
    width: 768px;
  }
  .cart__form {
    grid-column: span 5;
    width: 376px;
    margin-left: 0;
  }
  .button__cont {
    background: #000000;
    color: #FFFFFF;
  }
  .button {
    margin-top: 0;
    padding-bottom: 64px;
  }
  .footer__box_mega {
    gap: 179px;
  }
  .logo__old {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 343px;
  }
  .products__title {
    line-height: 100%;
    padding-right: 0;
  }
  .product-box {
    width: 765px;
  }
  .footer__box_mega {
    gap: 145px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: aliceblue;
  }
  .header__input {
    display: none;
  }
  .header__select {
    display: none;
  }
  .menu__link_info {
    display: none;
  }
  .menu-mob {
    display: block;
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .top__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .catalog-nav__link {
    font-size: 14px;
  }
  .inputs__filter {
    font-size: 14px;
    line-height: 17px;
    width: 164px;
    height: 41px;
  }
  .filter__hit {
    font-size: 14px;
    line-height: 17px;
    width: 203px;
    height: 41px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .catalog {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-top: 0;
  }
  .catalog-nav {
    width: 343px;
    row-gap: 14px;
    flex-wrap: wrap;
  }
  .catalog-nav__inputs {
    flex-wrap: wrap-reverse;
    row-gap: 10px;
  }
  .heading {
    font-size: 24px;
    line-height: 30px;
  }
  .box__price {
    margin-top: 0;
  }
  .title-product {
    font-size: 18px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 24px;
    line-height: 34px;
  }
  .for_big {
    height: 244px;
  }
  .for-box {
    padding-top: 32px;
  }
  .products__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
  }
  .products__title_mob {
    margin-top: 37px;
  }
  .products__title__img {
    width: 342px;
    height: 349px;
  }
  .products__title_cart {
    margin-top: 48px;
  }
  .cart {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .cart__item {
    width: 343px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .cart__info-name {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__info-title {
    font-size: 14px;
    line-height: 18px;
    width: 253px;
  }
  .cart__info-price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__form {
    width: 343px;
  }
  .cart__form-sakas {
    margin-left: 26px;
  }
  .cart__form-name {
    padding-left: 0;
  }
  .cart__img {
    display: none;
  }
  .button__filter,
  .button__cont {
    font-size: 12px;
    line-height: 14px;
    width: 166px;
    padding: 0;
  }
  .container-bottom__button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button__cont {
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .button__mob {
    padding-bottom: 48px;
  }
  .product {
    font-size: 18px;
    line-height: 22px;
  }
  .product__name {
    font-size: 14px;
    line-height: 17px;
    width: 343px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product__asort {
    display: flex;
    width: 343px;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 36px;
  }
  .product__icons {
    left: 285px;
  }
  .product__icons_cart {
    left: 289px;
  }
  .product-box {
    display: flex;
    padding-top: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .product-box_cart {
    padding-top: 0;
    padding-left: 0;
    width: 343px;
  }
  product-menu {
    row-gap: 35px;
  }
  .filtering-box {
    position: absolute;
    width: 287px;
    height: 910px;
    top: 568px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 48px;
    gap: 10px;
    left: 16px;
    justify-content: flex-start;
  }
  .filtering-container {
    width: 287px;
  }
  .filtering-container__top {
    width: 286px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
  }
  .container-top__right {
    flex-direction: column;
    display: flex;
  }
  .filtering-container__bottom {
    flex-direction: column;
    display: flex;
    padding-top: 32px;
    width: 287px;
  }
  .nav-box {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 32px;
  }
  .catalog__navigation_mob {
    display: block;
    padding-top: 36px;
  }
  .nav-box_navigation_mobi {
    display: block;
    padding-top: 32px;
  }
  .catalog__navigation_mobi {
    display: block;
    padding-top: 0;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .footer__box_mega {
    display: flex;
    padding-top: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 70px;
  }
}/*# sourceMappingURL=style.css.map */